/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("./ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slider .slick-prev , .material-icons{right: -2.7em}
.slider .slick-next { right: 0em; }
.slider .slick-prev, .slider .slick-next , .material-icons{height:2.35em; width: 2.35em;line-height: 2.35em; top: 87.5%; margin-top: -10px;padding: 0 0.6em; outline: none; text-align:center;transition: all ease .5s;background: #a3ad6f;font-size:2em;z-index:1000}
 .slider .slick-prev:hover,.slider .slick-next:hover , .material-icons:hover { background-color: #0d1d34;}
/* Icons */
@font-face { font-family: "slick"; src: url("./fonts/slick.eot"); src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next , .material-icons{ position: absolute; display: block; height:2.25em; width: 2.25em;line-height: 2.25em !important; font-size: 1.5em; cursor: pointer; background: #cbb9a6; color: #fff; top: 50%; margin-top: -10px; border: none; outline: none; text-align:center;transition: all ease .5s;font-weight:bold;transition: all ease .5s;

opacity: 0;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus , .material-icons:hover{ outline: none; background-color: #0d1d34; color: #fff; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before  { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.single-item .slick-prev, .single-item .slick-next  , .material-icons{border-radius:50%}
.slick-prev:before, .slick-next:before { 
font-size: 51px;
line-height: .8;
color: white;
opacity: 0.75;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

.slick-prev , .prev-material-icons { left: -75px; }
.slick-prev:before { content: "\2190";}


.slick-next:before { content: "\2192";}

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: 10px; list-style: none; display: none !important; text-align: center; padding: 0; width: 100%; z-index:1000}
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 0px; height: 0px; font-family: "slick"; font-size: 50px; line-height: 20px; text-align: center; color: black; opacity: 0.45; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: #000; opacity: 1; }

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}

.user-comments:hover .prev-material-icons {
    opacity:1;
    margin-left: 50px;
}

.user-comments:hover .next-material-icons {
    opacity:1;
   margin-right: 50px;
}
@media (max-width: 1228px) {
    .material-icons , .owl-controls{
        display:none !important;
    }
}
@media (max-width: 768px) {
    .slider .slick-prev, .slider .slick-next {
        font-size: .8em;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 15px;
        line-height: 0;
    }

    .slider .slick-next {
        right: 2.2em;
    }

    .slider .slick-prev {
        left: 20em;
    }

    .slick-prev, .slick-next {
         display:none !important;
    }
    .slick-dots {
        display:block !important;
    }
}

